.header {
  margin-bottom: 30px;
}

.controls > .row {
  padding: 10px 0;
}

.isotope {
  margin: 20px auto;
}

.item {
  padding-top: 10px;
  padding-bottom: 20px;

  img {
    width: 100%;
    height: auto;
  }
}

.footer {
  margin: 40px auto 20px;
}