.active {
  color: #ffffff;
  background-color: #666d71;
  border: 1px solid #666d71;
}
.bg-indigo {
  background-color: #5a25a2;
}
.indigo {
  color: #5a25a2;
  border: 1px solid #5a25a2;
}
.bg-pink {
  background-color: #f34b7d;
}
.pink {
  color: #f34b7d;
  border: 1px solid #f34b7d;
}
.bg-green {
  background-color: #00e6b5;
}
.green {
  color: #00e6b5;
  border: 1px solid #00e6b5;
}
.bg-orange {
  background-color: #f15501;
}
.orange {
  color: #f15501;
  border: 1px solid #f15501;
}
.bg-blue {
  background-color: #438eff;
}
.blue {
  color: #438eff;
  border: 1px solid #438eff;
}
.grey {
  color: #666d71;
  border: 1px solid #666d71;
}
.bg-fb-blue {
  background-color: #465799;
  color: #ffffff;
}
.bg-in-blue {
  background-color: #017bb7;
  color: #ffffff;
}
.bg-m-red {
  background-color: #f20000;
  color: #ffffff;
}
.bg-lighter-grey {
  background-color: #999da0;
  color: #ffffff;
}
.bg-neon-green {
  background-color: #58bc00;
}
