.community-highlights {
  background-color: #ffffff;
  padding: 24px 30px 30px;
}
.community-highlights > div {
  padding-bottom: 30px;
  border-bottom: 1px solid #cccecf;
}
.community-highlights > div span:not(:last-child) {
  display: inline-block;
  padding: 18px 0 24px;
  color: #999da0;
}
.community-highlights > div .community-tags {
  padidng: 0;
}
.community-highlights > div:last-child {
  border-bottom: none;
}
