nav a.round {
  padding: 17px 29px;
  background-color: rgba(0, 0, 0, 0.5);
}
nav a.round:hover {
  background-color: inherit;
  background-color: rgba(0, 0, 0, 0.2);
}
nav ul.inline {
  float: right;
}
nav ul.inline li {
  display: inline-block;
  margin: 0 10px;
}
nav ul.inline li span.username {
  font-size: 1.4rem;
}
a.round {
  padding: 17px 29px;
  border-radius: 30px;
  font-size: 1.6rem;
  font-family: 'soleilsemibold';
  display: inline-block;
}
a.round.small {
  padding: 10px;
  font-size: 2.5rem;
}
