<html>
<head>
    <title>{{subject}}</title>
</head>
<body>
Salut,<br/><br/>
Un nou utilizator s-a inregistrat pe iasi.communities.guide: {{name}} ({{profileUrl}}).<br/><br/>
Echipa Communities Guide
</body>
</html>