<html>
<head>
    <title>{{subject}}</title>
</head>
<body>
Salut,  <br/><br/>
A fost adaugat un nou mesaj cu privire la comunitatea {{title}}!<br/><br/>
{{message}}<br/><br/>
Mai multe detalii găsești aici:<br/>
{{url}}<br/><br/>
Echipa Communities Guide
</body>
</html>