.community-highlights {
  background-color: @white;
  padding: 24px 30px 30px;
  margin-bottom: 6px;

  > div {
    padding-bottom: 30px;
    border-bottom: 1px solid @light-grey;

    span:not(:last-child){
      display: inline-block;
      padding: 18px 0 24px;
      color: @lighter-grey;
    }

    .community-tags {
      padidng: 0;
    }

    &:last-child{
      border-bottom:  none;
    }
  }
}