footer {
  padding: 10px 30px 22px;
  background-color: @white;
  color: @grey;
  margin-bottom: 50px;

  a.back-top {
    margin-top: 20px;
    display: inline-block;
    color: @grey;
    text-align: right;

    @media(max-width: 767px){
      margin-top: -40px;
    }
  }
}