.form-group{
  margin-bottom: 6px;
  padding: 30px;
  background-color: @white;

  input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    border: 1px solid @light-grey;
    padding: 18px 0 18px 18px;
    border-radius: 7px;
    color: @grey;

    &[placeholder] {
      color: @lighter-grey;
    }
  }

 button.multiselect {
   background-color: @light-grey;
   width: 100%;
   max-width: 100%;
   padding: 18px 28px 18px 12px;
   box-shadow: none;
   font-size: 1.6rem;
 }
}
