@dark-grey: #666d71;
@white: #ffffff;
header + .back {
  padding: 33px 0;
  margin-bottom: 6px;
  text-align: center;
  background-color: @white;

  a {
    color: @dark-grey;
    font-size: 2rem;
  }
}