nav {
  a {
    &.round {
      padding: 17px 29px;
      background-color: rgba(0, 0, 0, 0.5);
    }
    &.avatar {
      padding: 17px 0;

    }
    &:hover {
      color: inherit;
    }
  }
  ul {
    &.inline {
      float: right;
      li {
        display: inline-block;
        margin: 0 10px;

        a:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }

        span {
          &.username {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  &.secondary {
    margin-bottom: 6px;

    font-size: 2rem;

    > ul {
      padding: 35px 30px;
      background-color: @white;
      li {
        a {
          color: @lighter-grey;
        }
        &:nth-of-type(2) {
          margin-left: 0;
          a {
            font-weight: 700;
            font-family: 'Soleil';
            color: @dark-grey
          }
        }
      }

    }
  }
}

a.round {
  padding: 7px 16px;
  border-radius: 30px;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Soleil';
  display: inline-block;

  &:hover {
    color: inherit !important;
  }
  &.small {
    padding: 10px;
    font-size: 2.5rem;
  }
}