<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Communities Guide</title>
    <meta name="description" content="Communities Guide Iasi">
    <meta name="author" content="NON">
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div class="container wrapper">
    <header class="row">
        <div class="col-sm-7">
            <span class="credits">Photography by Greg Wood</span>
            <h2>Iași<br/> Communities<br/> Guide</h2>
        </div>
        <div class="col-sm-5">
            <nav>
                <ul class="nav inline">
                    <!--<li><span class="username">Welcome, <strong>Justin Gerowitz</strong></span></li>-->
                    <li><a href="#"><img src="./images/user-1.png" class="round"></a></li>
                    <li><a href="#" class="round">About</a></li>
                    <li><a href="#" class="round">Share</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="row back">
        <a href="#" class="col-sm-1 icon-left"></a>
        <a href="#" class="col-sm-10">Back to list</a>
        <a href="#" class="col-sm-1 icon-right"></a>
    </div>
    <main class="row">
        <div class="col-sm-4 community-sidebar">
            <img src="./images/agile-logo.png">
            <div class="community-highlights">
                <div>
                    <ul class="unstyled-list">
                        <li><span class="tag bg-indigo">Technology</span></li>
                        <li><span class="tag bg-pink">Management</span></li>
                    </ul>
                    <h2>Agile Software Group Iasi</h2>
                    <span class="created-at">Founded on 22 march 2015</span>
                </div>
                <div>
                    <span>Admin:</span>
                    <span class="admin-counter">2</span>
                    <ul class="unstyled-list">
                        <li><img class="round" src="./images/user-1.png"></li>
                        <li><img class="round" src="./images/user-2.png"></li>
                    </ul>
                </div>
                <div>
                    <span>Follow:</span>
                    <ul class="unstyled-list social-links">
                        <li><a href="#" class="round small icon-globe bg-lighter-grey"></a></li>
                        <li><a href="#" class="round small icon-facebook bg-fb-blue"></a></li>
                        <li><a href="#" class="round small icon-meetup bg-m-red"></a></li>
                        <li><a href="#" class="round small icon-linkedin bg-in-blue"></a></li>
                    </ul>
                </div>
                <div>
                    <button class="default support">Support community</button>
                    <button class="default report">Report</button>
                </div>
            </div>
        </div>
        <article class="col-sm-8">
            <img class="cover-image" src="./images/agile-gallery.png">
            <div class="about">
                <div>
                    <h1>About us</h1>
                    <p>Meet other local people interested in Agile methods of software development. Agile software development processes such as
                        Scrum, Extreme Programming, Feature Driven Development and Test Driven Development are on their way to becoming more and
                        more adopted. If you want to share your experience or to hear other experience, this is the group you are looking for.
                    </p>
                </div>
                <div class="members">
                    <span>Members:</span>
                    <span class="members-counter">27 </span>
                    <span name="admin-counter">(2 admins)</span>
                    <ul class="unstyled-list">
                        <li><a href="#" class="leader"><img src="./images/user-1.png" class="round"></a></li>
                        <li><a href="#" class="leader"><img src="./images/user-2.png" class="round"></a></li>
                        <li><a href="#"><img src="./images/user-1.png" class="round"></a></li>
                        <li><a href="#"><img src="./images/user-2.png" class="round"></a></li>
                        <li><a href="#"><img src="./images/user-1.png" class="round"></a></li>
                        <li><a href="#"><img src="./images/user-2.png" class="round"></a></li>
                        <li><a href="#"><img src="./images/user-1.png" class="round"></a></li>
                        <li><a href="#"><img src="./images/user-2.png" class="round"></a></li>
                        <li><a class="community-counter">+20</a></li>
                    </ul>
                </div>
                <div class="comments">
                    <span>Comments:</span>
                    <span class="comments-counter">1</span>
                    <div class="row">
                        <img class="col-sm-1 round small" src="./images/user-1.png">
                        <div class="col-sm-9">
                            <div class="row">
                                <span class="col-sm-12 admin">Victor Erixon (Admin)</span>
                                <p class="col-sm-12">
                                    Meet other local people interested in Agile methods of software development. Agile software development processes such
                                    as Scrum, Extreme Programming, Feature Driven Development and Test Driven Development are on their way to becoming more
                                    and more adopted.
                                </p>
                            </div>
                        </div>
                        <span class="col-sm-2 time-elapsed">3 hours ago</span>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <footer class="row clearfix">
        <div class="col-sm-4">
            <h2>Iași<br/>Communities<br/>Guide</h2>
        </div>
        <div class="col-sm-2 col-sm-offset-6">
            <a class="back pull-right" href="#">Back to top</a>
        </div>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>